footer
  .container
    .row
        .col-md-4.col-md-offset-8
            p
              | 資料來源：
              a(href="http://data.g0v.tw")
                | g0v零時資料中心
              span  
                | &copy; 2015 公有地大行動