header
    .ui.fixed.main.menu.pop.inverted        
        .header.item
          .ui.horizontal.list
            .item.logo-header
              | 天龍特公地
            .item
              #pop-icon 火
        a.item(href="/")
          | 公有地火大啦
        a.item(href="#request")
          | 我們的訴求
        a.item(href="#area")
          | 公有土地大搜查
        a.item(href="#vision")
          | 土地好願景

