html, body {
  height: 100%;
}
body {
    font-family: Noto Sans, Noto Sans T Chinese, Microsoft JhengHei, sans-serif;
}

.navbar-default {
    background-color: #ffffff;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}

.navbar-default .navbar-nav > li > a, 
.navbar-default .navbar-nav > li > a:hover {
    color: #bb0000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-brand span {
    padding-left: 10px;
}

.head-set {
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-title {
    font-size: 60px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pad-bottom {
    padding-bottom: 60px;
}

#logo {
    margin-top: -20px;
    padding: 0;
    height: 48px;
    width: auto;
    float: left;
}

#home {
    background: url(/images/Wall_of_Fire_by_JJenkinsPhotography.jpg) no-repeat center center;*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    min-height: 800px;
}

#home .overlay {
    background-color: rgba(231, 76, 60, 0.2);
    min-height: 800px;
    color: #ffffff;
}

#home h1 {
    padding-top: 90px;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 60px;
}

#area{
    padding-bottom: 50px;
    margin-top: 60px;
    min-height: 200px;
    background-color: #bfbfbf;
}

#area .data-info {
    margin-top: 50px;
}

#vision {
    background-color: #c5eff7;
}

#map-canvas {
    height: 600px;
    width: 100%;
}

.request-item {
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.request-item:hover {      
    background-color: #dedede; 
}

.request-item span {
    color: #f00;
    padding: 10px;
}

.watched-btn {
    margin-top: 50px;
    font-size: 30px;
}

.map-notice {
    margin-top: 100px;
}

#carousel-home .nav {
    background-color: #ebebeb;
}

#carousel-home .carousel-caption {
    background: rgba(0, 0, 0, 0.2);
}

.nav-justified > li > a {
    border-radius: 0px;
}

.carousel-inner img {
    width: 100%;
}

.nav-pills > li[data-slide-to="0"].active a {
    background-color: #b4d9a7;
}

.nav-pills > li[data-slide-to="1"].active a {
    background-color: #4f77cb;
}

.nav-pills > li[data-slide-to="2"].active a {
    background-color: #d11e4f;
}
 