extends layouts/default

block content
    section.page.header-page
      .text-vertical-center
          h1 台北市的公有土地怎麼了！

    section#case.page.case-page
      .text-vertical-center.padding
        .ui.three.column.grid
          .column
              h4 <strong>62</strong>公頃<br>
              p 台北市十年間(2001~2010)賣掉
              .case-info
                  img(src="images/case.01.jpg")
                  p <strong>台北市大安區信義聯勤俱樂部</strong>
                    | 標售給新光人壽再賣給元利建設，蓋兩棟31、35層豪宅
          .column
              h4 <strong>3</strong>公頃<br>
              p 至今被劃入都市更新所開發，目前還有許多已被劃入都市更新單元中
              .case-info
                  img(src="images/case.02.jpg")
                  p <strong>文萌樓都市更新案</strong>
                    | 近698坪公有土地被劃入更新，卻不受國有財產法500坪禁售限制
          .column
              h4 <strong>3</strong>公頃<br>
              p 至今被 BOT 所開發成功，目前還有許多正在促參程序中
              .case-info
                  img(src="images/case.03.jpg")
                  p <strong>遠雄大巨蛋</strong>
                    | BOT 的過程與週邊環境衝擊持續爭議中
    section#request.request-page.page  
      .text-vertical-center
        h1 我們的訴求
        .request-content
          .ui.list
            .item
              .content
                i.comment.icon
                | 修訂公有地處份法令，行政院國土活化督導小組不得閉門決策。            
            .item 
              .content
                i.comment.icon
                | 全民參與公有土地決策過程，防止土地資源被不當使用。
            .item 
              .content
                i.comment.icon
                | 我國非公用與低度利用的公有土地，其地理資訊必須公佈於網路。
            .item 
              .content
                i.comment.icon
                | 公開公有土地的開發財務細節，公開說明規畫與未來 開發方向。
            .item 
              .content
                i.comment.icon
                | 設定公有地地上權時間上限，避免財團變相將公有土地私有化。
          .ui.header
            | 邀請您共同關注
          a.circular.ui.icon.button(href="https://www.facebook.com/POPonFire")
            i.icon.unhide
            | 關注
    section#area.area-page.page
      .text-vertical-center
        h1
          | 天龍特公地大搜查 <span class="beta-font">&beta;</span>      
   
        .area-param
          .ui.selection.dropdown.choice-block
            .default.text
              | 行政區
            i.dropdown.icon
            .menu
              a.item(data-value='')
                | 全部
              a.item(data-value='中正區')
                | 中正區
              a.item(data-value='大同區')
                 | 大同區
              a.item(data-value='中山區')
                 | 中山區
              a.item(data-value='萬華區')
                 | 萬華區
              a.item(data-value='信義區')
                 | 信義區
              a.item(data-value='松山區')
                 | 松山區
              a.item(data-value='大安區')
                 | 大安區
              a.item(data-value='南港區')
                 | 南港區
              a.item(data-value='北投區')
                 | 北投區
              a.item(data-value='內湖區')
                 | 內湖區
              a.item(data-value='士林區')
                 | 士林區
              a.item(data-value='文山區')
                 | 文山區
          .ui.selection.dropdown.choice-area
            .default.text
              | 面積
            i.dropdown.icon
            .menu  
              a.item(data-value='')
                | 全部          
              a.item(data-value=">=500")
                | 500坪(1650平方公尺)以上
              a.item(data-value=">20 AND <500")
                | 20坪 ~ 500坪
              a.item(data-value="<=20")
                | 20坪以下
          .ui.selection.dropdown.choice-unit
            .default.text
              | 經營單位
            i.dropdown.icon
            .menu  
              a.item(data-value='')
                | 全部
              a.item(data-value="交通部%")
                | 交通部
              a.item(data-value="財政部%")
                | 財政部
              a.item(data-value="國防部%")
                | 國防部 
              a.item(data-value="內政部%")
                | 內政部
              a.item(data-value="教育部%")
                | 教育部
              a.item(data-value="(臺|台)北市%")
                | 臺北市      
              a.item(data-value="%學%")
                | 學校單位  
          //.ui.input.focus.input-address
              //input#input-address(placeholder="地址..." type="text")
        h3
            i.data-description.info.link.icon(data-title="資料特性說明",data-content="1. 公有土地。<br/>2. 位在可建築分區。<br/>3. 該土地無建築物登記，例如預計開發的空軍總部舊址有建築物登記，就未顯示於本次資料。<br/>4. 土地面積單位為平方公尺。<br/>5. 國有財產法 53 條明訂 500坪 (1650平方公尺) 以上非公用公有土地禁止標售。<br/>6. 正在進行「都市更新」的公有土地，特別以「紅色」表示。",data-variation="large")
    section#map.map-page.page
      #map-loading.ui.dimmer
        .ui.medium.text.loader
          | 正在產生地圖
      #map-canvas
      .text-vertical-center.map-notice
        h1
          | 請選擇地區
    section#vision.vision-page.page  
      .text-vertical-center.padding
        h1
            | 土地好願景
        .ui.three.items
          .item
              .image
                img(src="images/vision01.jpg")
              .content
                  p.name 信義區富陽自然生態公園
                  p.description
                    | 從廢棄的國軍兵工廠用地，變成台北樹蛙安心棲息的生態公園。
                  .extra
                    .ui.divided.horizontal.mini.list
                      .item 認養單位：荒野保護協會
                      .item 圖片來源：台北市公燈處
          .item
              .image
                  img(src="images/vision02.jpg")
              .content
                  p.name 松山區幸福農場
                  p.description
                    | 國防部閒置用地，變成168個家庭實現城市農耕夢的幸福農場。
                  .extra
                    .ui.divided.horizontal.mini.list
                      .item 經營單位：復健里里辦公處
          .item
              .image
                  img(src="images/vision03.jpg")
              .content
                  p.name 萬華區南機場樂活園地
                  p.description 
                    | 閒置的公有建築物，變成社區共餐廚房與樂齡活動中心。
                  .extra
                    .ui.divided.horizontal.mini.list
                      .item 經營單位：忠勤里里辦公處
                      .item 圖片來源：太陽自創旅館 - 南機場
          .item
              .image
                  img(src="images/vision04.jpg")
              .content
                  p.name 松山區寶清段社會住宅
                  p.description 
                    | 公有土地興建只租不賣的社會住宅，增加城市的公共住宅數量。
                  .extra                
                    .ui.divided.horizontal.mini.list
                      .item 議題推動單位：社會住宅推動聯盟
                      .item 圖片來源：台北市都市發展局
          .item
              .image
                  img(src="images/vision05.jpg")
              .content
                  p.name 中山區 FutureWard 未來產房
                  p.description
                    | 既有的校園公共空間，變成城市創新與青年創業的社群空間。
                  .extra
                    .ui.divided.horizontal.mini.list
                      .item 經營單位：FutureWard 未來產房 
                      .item 圖片來源：FutureWard 未來產房

