extends layouts/default

block content
    section.page.header-page
      .text-vertical-center
          h1 台北市的公有土地怎麼了！

    section#case.page.case-page
      .text-vertical-center.padding
        .ui.three.column.grid
          .column
              h4 <strong>62</strong>公頃<br>
              p 台北市十年間賣掉
              .case-info
                  img(src="images/case.01.jpg")
                  p <strong>台北市大安區信義聯勤俱樂部</strong>
                    標售給新光人壽再賣給元利建設，蓋兩棟31、35層豪宅
          .column
              h4 <strong>3</strong>公頃<br>
              p 至今被劃入都市更新
              .case-info
                  img(src="images/case.02.jpg")
                  p <strong>文萌樓都市更新案</strong>
                    近698坪公有土地被劃入更新，卻不受國有財產法500坪禁售限制
          .column
              h4 <strong>3</strong>公頃<br>
              p 至今被 BOT
              .case-info
                  img(src="images/case.03.jpg")
                  p <strong>遠雄大巨蛋</strong>
                    BOT 的過程與週邊環境衝擊持續爭議中
    section#request.request-page.page  
      .text-vertical-center
          h1 我們的訴求
          ol.request-content
              li 修訂公有地處份法令，行政院國土活化督導小組不得閉門決策。
              li 全民參與公有土地決策過程，防止土地資源被不當使用。
              li 我國非公用與低度利用的公有土地，其地理資訊必須公佈於網路。
          .ui.header
            | 邀請您共同關注
          .circular.ui.icon.button
            i.icon.unhide
            | 關注
    section#area.area-page.page
      .text-vertical-center
        h1
          | 天龍特公地大搜查 <span class="beta-font">&beta;</span>

        .area-param
          .ui.selection.dropdown.choice-block
            .default.text
              | 行政區
            i.dropdown.icon
            .menu
              a.item(data-value='')
                | 全部
              a.item(data-value='中正區')
                | 中正區
              a.item(data-value='大同區')
                 | 大同區
              a.item(data-value='中山區')
                 | 中山區
              a.item(data-value='萬華區')
                 | 萬華區
              a.item(data-value='信義區')
                 | 信義區
              a.item(data-value='松山區')
                 | 松山區
              a.item(data-value='大安區')
                 | 大安區
              a.item(data-value='南港區')
                 | 南港區
              a.item(data-value='北投區')
                 | 北投區
              a.item(data-value='內湖區')
                 | 內湖區
              a.item(data-value='士林區')
                 | 士林區
              a.item(data-value='文山區')
                 | 文山區
          .ui.selection.dropdown.choice-area
            .default.text
              | 面積
            i.dropdown.icon
            .menu  
              a.item(data-value='')
                | 全部          
              a.item(data-value=">=500")
                | 500以上
              a.item(data-value=">20 AND <500")
                | 20 ~ 500
              a.item(data-value="<=20")
                | 20以下
          .ui.selection.dropdown.choice-unit
            .default.text
              | 經營單位
            i.dropdown.icon
            .menu  
              a.item(data-value='')
                | 全部
              a.item(data-value="交通部%")
                | 交通部
              a.item(data-value="財政部%")
                | 財政部
          .ui.input.focus.input-address
              input#input-address(placeholder="地址..." type="text")
    section#map.map-page.page
      #map-loading.ui.dimmer
        .ui.medium.text.loader
          | 正在產生地圖
      #map-canvas
      .text-vertical-center.map-notice
        h1
          | 請選擇地區
    section#vision.vision-page.page  
      .text-vertical-center.padding
        h1
            | 土地好願景
        .ui.three.column.grid
          .column
              .case-info
                  img(src="http://parklight.tcg.gov.tw/Fuyang/images/fl-0-01.jpg")
                  p <strong>信義區富陽自然生態公園</strong>
                    荒野保護協會(圖片來源，台北市公燈處)
          .column
              .case-info
                  img(src="images/case.01.jpg")
                  p <strong>松山區幸福農場</strong>
                    復健里里辦公處
          .column
              .case-info
                  img(src="https://scontent-a.xx.fbcdn.net/hphotos-xfa1/t1.0-9/p480x480/10552658_326782487498419_5093993076732433938_n.jpg")
                  p <strong>萬華區南機場樂活園地</strong>
                    忠勤里里辦公處(圖片來源，SUN SELF HOTEL Nanjichang
                    太陽自創旅館南機場 facebook)
          .column
              .case-info
                  img(src="http://static.ettoday.net/images/309/309597.jpg")
                  p <strong>松山區寶清段社會住宅</strong>
                    社會住宅推動聯盟(圖片來源，台北市都市發展局)
          .column
              .case-info
                  img(src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfp1/t1.0-9/p480x480/10339679_249682165234858_7142478842126817407_n.jpg")
                  p <strong>中山區 FutureWard 未來產房</strong>
                    FutureWard 未來產房(圖片來源，FutureWard 未來產房 facebook)
